In [2]:
# lista vacia
l1 = []
l2 = list()
print(len(l1), len(l2))

0 0

In [6]:
# una lista puede contener elementos de diferentes tipos de datos
l3 = ['4', 'd', 'book', 5,[1,2,3,4]]
print(type(l3[0]))
print(type(l3[-1]))

<class 'str'>
<class 'list'>

In [4]:
l3

['4', 'd', 'book', 5, [1, 2, 3]]

In [7]:
#Añadir elementos a una lista: metodo append
l1.append("martes")
l1

['martes']

In [8]:
# añair elementos a una lista en una posición específica: metodo insert
l1.insert(0,3)
l1

[3, 'martes']

In [9]:
#llenar una lista, mediante list comprehension
l2 = [x**2 for x in range(0,10)]
l2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
# mostrar ciertos elementos de una lista, especificando los indices
print(l2[0:5], l2[-1])

[0, 1, 4, 9, 16] 81

In [34]:
# Eliminar un elemento de una lista
l2.remove(0)

In [35]:
l2

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
# Eliminar el último elemento de una lista
l2.pop()

81

In [37]:
l2

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
l1

In [38]:
# operaciones con listas
l4 = l1 + l2 
l4

[3, 'martes', 1, 4, 9, 16, 25, 36, 49, 64]

In [39]:
# listas anidadas
l5 = [l1,l2,l3]
print(l5)
print(len(l5))

[[3, 'martes'], [1, 4, 9, 16, 25, 36, 49, 64], ['4', 'd', 'book', 5, [1, 2, 3, 4]]]
3

In [40]:
# iteraciones sobre listas
for item in l5:
    if len(item) == 2:
        print(item)

[3, 'martes']

In [41]:
# list comprehension
l6 = [item for item in l5 if len(item) == 2]
l6

[[3, 'martes']]

# Diccionarios

Un diccionario es una colección de pares clave-valor. Son útiles para almacenar datos relacionados y acceder a ellos por medio de una clave.
La sintaxis de un diccionario es `{clave: valor}`.

In [42]:
dict1 = dict()
dict2 = {}

In [45]:

estudiante = {
    "nombres": ["Juan","pedro",'pablo'],
    "edad": 21,
    "carrera": "Ingeniería"
}

# Acceder a un valor
print("Nombre del estudiante:", estudiante["nombres"])

Nombre del estudiante: ['Juan', 'pedro', 'pablo']

In [46]:
# Agregar un nuevo par clave-valor
estudiante["promedio"] = 8.7
print(estudiante)

# Modificar un valor
estudiante["edad"] = 22
print(estudiante)

# Eliminar un par clave-valor
del estudiante["carrera"]
print(estudiante)

# Obtener solo las claves o valores
print("Claves:", estudiante.keys())
print("Valores:", estudiante.values())

{'nombres': ['Juan', 'pedro', 'pablo'], 'edad': 21, 'carrera': 'Ingeniería', 'promedio': 8.7}
{'nombres': ['Juan', 'pedro', 'pablo'], 'edad': 22, 'carrera': 'Ingeniería', 'promedio': 8.7}
{'nombres': ['Juan', 'pedro', 'pablo'], 'edad': 22, 'promedio': 8.7}
Claves: dict_keys(['nombres', 'edad', 'promedio'])
Valores: dict_values([['Juan', 'pedro', 'pablo'], 22, 8.7])

In [47]:
# Agregar un nuevo par clave-valor, donde el valor es una lista
estudiante['promedioSemestre'] = [8.5,10,7,8.3]

In [48]:
estudiante

{'nombres': ['Juan', 'pedro', 'pablo'],
 'edad': 22,
 'promedio': 8.7,
 'promedioSemestre': [8.5, 10, 7, 8.3]}

In [49]:
# Agregar un nuevo par clave-valor, donde el valor es otro diccionario
estudiante['promedioMaterias'] = {
    'calculo': [10, 9, 8],
    'algebra': [6, 8, 9],
    'filosofia': [5, 7, 9]
}

In [50]:
estudiante

{'nombres': ['Juan', 'pedro', 'pablo'],
 'edad': 22,
 'promedio': 8.7,
 'promedioSemestre': [8.5, 10, 7, 8.3],
 'promedioMaterias': {'calculo': [10, 9, 8],
  'algebra': [6, 8, 9],
  'filosofia': [5, 7, 9]}}

In [51]:
#acceder a un elemento de un diccionario mediante el metodo get

print(estudiante.get('promedioMaterias'))
print(estudiante.get('promedioMaterias').get('algebra'))

{'calculo': [10, 9, 8], 'algebra': [6, 8, 9], 'filosofia': [5, 7, 9]}
[6, 8, 9]

# Funciones

Una función es un bloque de código que realiza una tarea específica. Nos permite reutilizar el código y organizarlo mejor.
La sintaxis de una función es:

In [56]:
def sumar(a, b):
    '''
    Documentar:
    parametros:
    a: es un valor numerico, entero o flotante
    b: es un valor numerico, entero o flotante
    
    retorna la suma de a y b
    '''
    return a + b


# uso de la funcion
resultado = sumar(5.5, 7)
print("Resultado de la suma:", resultado)

Resultado de la suma: 12.5

In [53]:
help(sumar)

Help on function sumar in module __main__:

sumar(a, b)
    Documentar:
    parametros:
    a: es un valor numerico, entero o flotante
    b: es un valor numerico, entero o flotante

    retorna la suma de a y b

In [24]:
def unir_palabras(lista_palabras):
    """
    Toma una lista de palabras y las une en una sola oración.
    """
    return " ".join(lista_palabras)

In [25]:
unir_palabras(["Python", "es", "un", "lenguaje", "de", "programacion"])

'Python es un lenguaje de programacion'

In [57]:
def es_primo(numero):
    """
    Verifica si un número es primo.
    """
    if numero < 2:
        return False
    for i in range(2, int(numero ** 0.5) + 1):
        if numero % i == 0:
            return False
    return True

In [58]:
numero = 13
resultado = es_primo(numero)
print(f"¿El número {numero} es primo?:", resultado)

¿El número 13 es primo?: True

In [59]:
numero = 90
resultado = es_primo(numero)
print(f"¿El número {numero} es primo?:", resultado)

¿El número 90 es primo?: False

# Data Frames

In [60]:
import pandas as pd  #importa todos los metodos de una libreria
#from pandas import DataFrame

    instalacion de librerias:
    pip install pandas

In [66]:
data = {"Nombre":["Ana","Luis","Maria","Juan"],
        "Edad":[23,21,22,24],
        "Ciudad":["Madrid","Barcelona","Valencia","Sevilla"]}

In [67]:
type(data)

dict

In [68]:
df = pd.DataFrame(data)

In [69]:
type(df)

pandas.core.frame.DataFrame

In [71]:
# Muestra los primeros n registros de un DataFrame
df.head(1)

  Nombre  Edad  Ciudad
0    Ana    23  Madrid

In [73]:
# Muestra los ultimos n registros de un DataFrame
df.tail(3)

  Nombre  Edad     Ciudad
1   Luis    21  Barcelona
2  Maria    22   Valencia
3   Juan    24    Sevilla

In [76]:
df.Ciudad.unique()

array(['Madrid', 'Barcelona', 'Valencia', 'Sevilla'], dtype=object)

In [79]:
df_dummie = pd.get_dummies(df, columns=['Nombre','Ciudad'])

In [80]:
df_dummie.head()

,Edad,Nombre_Ana,Nombre_Juan,Nombre_Luis,Nombre_Maria,Ciudad_Barcelona,Ciudad_Madrid,Ciudad_Sevilla,Ciudad_Valencia
0,23,True,False,False,False,False,True,False,False
1,21,False,False,True,False,True,False,False,False
2,22,False,False,False,True,False,False,False,True
3,24,False,True,False,False,False,False,True,False

In [81]:
df_dummie['ana_barcelona'] = df_dummie.Nombre_Ana + df_dummie.Ciudad_Barcelona

In [82]:
df_dummie.head()

,Edad,Nombre_Ana,Nombre_Juan,Nombre_Luis,Nombre_Maria,Ciudad_Barcelona,Ciudad_Madrid,Ciudad_Sevilla,Ciudad_Valencia,ana_barcelona
0,23,True,False,False,False,False,True,False,False,True
1,21,False,False,True,False,True,False,False,False,True
2,22,False,False,False,True,False,False,False,True,False
3,24,False,True,False,False,False,False,True,False,False

In [83]:
df_dummie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Edad              4 non-null      int64
 1   Nombre_Ana        4 non-null      bool
 2   Nombre_Juan       4 non-null      bool
 3   Nombre_Luis       4 non-null      bool
 4   Nombre_Maria      4 non-null      bool
 5   Ciudad_Barcelona  4 non-null      bool
 6   Ciudad_Madrid     4 non-null      bool
 7   Ciudad_Sevilla    4 non-null      bool
 8   Ciudad_Valencia   4 non-null      bool
 9   ana_barcelona     4 non-null      bool
dtypes: bool(9), int64(1)
memory usage: 196.0 bytes

In [85]:
df_dummie.describe(include='all')

,Edad,Nombre_Ana,Nombre_Juan,Nombre_Luis,Nombre_Maria,Ciudad_Barcelona,Ciudad_Madrid,Ciudad_Sevilla,Ciudad_Valencia,ana_barcelona
count,4.000000,4,4,4,4,4,4,4,4,4
unique,NaN,2,2,2,2,2,2,2,2,2
top,NaN,False,False,False,False,False,False,False,False,True
freq,NaN,3,3,3,3,3,3,3,3,2
mean,22.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.290994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,21.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,21.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,22.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,23.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,24.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN